*{
	margin: 0;
	padding: 0;
}
	.geral{
		font-family: sans-serif;
	}
		.geral .formularioOrcamentoEsquerda {

		}
		    .geral .formularioOrcamentoEsquerda input[type="text"]{
				margin:15px 10px;
				outline: none;
				background: #f7f7f7 !important;
		    	width: 100%;
		    	max-width: 450px;
				color: #34495E !important;
		    	height: auto;
		    	min-height: 40px;
		    	border:none;	
		    	border-bottom: 1px solid rgb(47, 59, 97);
		    	font-size: 15px;
		    	padding: 5px;
		    }
		    	.geral .formularioOrcamentoEsquerda input::-webkit-input-placeholder{
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
      	   		.geral .formularioOrcamentoEsquerda input:-moz-placeholder{ 
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
      	   		.geral .formularioOrcamentoEsquerda input::-moz-placeholder{
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
      	   		.geral .formularioOrcamentoEsquerda input:-ms-input-placeholder{
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}

		   	
			.geral .formularioOrcamentoEsquerda textarea {
			 	max-width: 450px;
			    min-width: 200px;
			    width: 100%;
			    border: 1px solid rgb(47, 59, 97);
			    max-height: 120px;
			    color: #34495E!important;
			    margin-left: 10px;
			    outline: none;
			    background: #f7f7f7 !important;
			}
				.geral .formularioOrcamentoEsquerda textarea::-webkit-input-placeholder {
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
	  	   	      padding: 10px;
	      	    }
	      	    .geral .formularioOrcamentoEsquerda textarea:-moz-placeholder  {
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
	  	   	      padding: 10px;
	      	    }
	      	    .geral .formularioOrcamentoEsquerda textarea::-moz-placeholder  {
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
	  	   	      padding: 10px;
	      	    }
	      	    .geral .formularioOrcamentoEsquerda textarea:-ms-input-placeholder  {
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
	  	   	      padding: 10px;
	      	    }
			.geral .formularioOrcamentoEsquerda span {
				font-weight: 600!important;
			    color: #2f3b61 !important;
			    font-size: 17px!important;
			    display:block;
			    vertical-align: top;
			    padding-left: 10px;
			}
			.geral .formularioOrcamentoEsquerda .spanzinho{
			    display: inline-block;
			    width: 100%;
			    max-width: 360px;
			}
			.geral .formularioOrcamentoEsquerda select {
				width: 100%;
			    max-width: 200px;
			    display: inline-block;
			    vertical-align: top;
			    font-size: 15px;
			    color: #34495E !important;
			    border: none;
			    outline: none;
			    margin-left: 10px;
			    background: #f7f7f7 !important;
			    border: none;
			    outline: none;
    			height: 50px;
			}
				.formularioOrcamentoEsquerda option {

				}
			.geral .formularioOrcamentoEsquerda .bt-enviar{
				display: block;
			    width: 100%;
			    max-width: 230px;
			    font-weight: bold;
			    font-size: 18px!important;
			    background: #2a3557 !important;
			    height: 45px;
			    border: 1px solid transparent;
			    color: #fff;
			    margin: 10px 10px;
			    border-radius: 3px;
			    outline: none;
			}
				.geral .formularioOrcamentoEsquerda .bt-enviar:hover{
					background: #fff!important;
					color: #2a3557;
					border:1px solid #2a3557;
					transition: all linear .3s;
					-moz-transition: all linear 0.3s; /* Firefox 4 */
					-webkit-transition: all linear 0.3s; /* Safari and Chrome */
					-o-transition: all linear 0.3s; /* Opera */
					border-radius: 3px;
				}
		.geral .formularioOrcamentoDireita{

		}
			.geral .formularioOrcamentoDireita input{
				margin:15px 10px;
				outline: none;
				background: #f7f7f7 !important;
		    	width: 100%;
		    	max-width: 450px;
				color: #34495E !important;
		    	height: auto;
		    	min-height: 40px;
		    	border:none;	
		    	border-bottom: 1px solid rgb(47, 59, 97);
		    	font-size: 15px;
		    	padding: 5px;
			}
				.geral .formularioOrcamentoDireita input::-webkit-input-placeholder{
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
      	   		.geral .formularioOrcamentoDireita input:-moz-placeholder{ 
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
      	   		.geral .formularioOrcamentoDireita input::-moz-placeholder{
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
      	   		.geral .formularioOrcamentoDireita input:-ms-input-placeholder{
	  	   	      color: #34495E !important;
	  	   	      font-size: 15px;
      	   		}
			.geral .formularioOrcamentoDireita span{
				font-weight: 600!important;
			    color: #2f3b61 !important;
			    font-size: 17px!important;
			    display: inline-block;
			    vertical-align: top;
			    padding-left: 10px;
			    display: block;
			}
			.geral .formularioOrcamentoDireita select{
				width: 100%;
			    max-width: 200px;
			    display: block;
			    vertical-align: top;
			    font-size: 15px;
			    color: #34495E !important;
			    border: none;
			    outline: none;
			    margin-left: 10px;
			    background: #f7f7f7 !important;
			    border: none;
			    outline: none;
    			height: 50px;
			}		
				.geral .formularioOrcamentoDireita option{

				}
		











    